.parent {
  background: rgb(101,	156,	173);
  height: 290px;
  width: 300px;
  display: grid;
}

.section {
  color: white;
}

.aligner {
  display: flex;
}

.title {
  justify-content: flex-start;
}
.description {
  justify-content: center;
}
.custombutton {
  justify-content: flex-end;
}

.icons {
  justify-content: flex-end;
}
.icons a {
  color: white;
  text-decoration: none;
}

.title {
  font-size: 20px;
}

.custombutton input {
  border: solid white 3px;
  border-radius: 39px;
  background: transparent;
  color: white;
  font-size: 20px;
}
