.parent {
  margin-bottom: 10px;
  background: rgb(101,	156,	173);
  height: 290px;
  width: 300px;
  color: white;
  display: grid;
}

.right {
  text-align: right;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}

/* custom info params */

.icons a {
  color: white;
  text-decoration: none;
}

.title {
  font-size: 20px;
}

.custombutton input {
  border: solid white 3px;
  border-radius: 39px;
  background: transparent;
  color: white;
  font-size: 20px;
}
